*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    
}

.img-onboard{
    margin-left: 60px;
}

.logo{
    margin-left: 30px;
}

h4{
    margin-top: 10px; 
    margin-left: 7rem;
    font-size: 25px;
}

.slide p{
    text-align: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 500;

}

.btn-employee-login{
    margin-top: 15px;
    width:80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
    margin-left: 2.5rem;
}

.btn-manager-login{
     margin-top: 15px;
    width:80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
    margin-left: 2.5rem;
}